doctype html
html
    head
        meta(charset='utf-8')
        title cr4f73d
        link(rel='stylesheet' href='styles.css')
    body
        div.header
        main.wrapper
            div.landing
            div.footer
                div.paragraph
                    div.paragraph__title
                        div.paragraph__title-divider
                        div.paragraph__title-text 04
                    div.paragraph__content
                        div.contacts
                            div.contacts__title Contacts:
                            div.contacts__content
                                div.contacts__phone
                                    a(href='tel:+79375992636') +7 937 5992636
                                div.contacts__email
                                    a(href='mailto:hex22a@gmail.com') hex22a@gmail.com
                        div.join
                            div.join__title Join us:
                            div.join__links
                                a(href='https://medium.com/@hex22a' target='_blank') Medium
                                span.join__links-devider /
                                a(href='https://github.com/crftd' target='_blank') Github
                                //<div>Icons made by <a href="https://www.flaticon.com/authors/lyolya" title="Lyolya">Lyolya</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                div.arrow-up
                    a(href='#')
                        div.arrow-up__icon
